<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort Methods</title>
</head>
<body style = "height: 100%;width: 100%; background-color: #2a2438;">
    <div class="container">
    </span> 
    </div>
</body>
</html>

<script>

    $(document).ready(function(){
       var frame = new SortFrame($(".container")).create();
    });

</script>